
{% extends 'base.html.twig' %}



{% block body %}
<h1>User Profile</h1>

    <div>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <!-- You can add more sections or details about the user as needed -->

    <!-- Add your JavaScript or other scripts if necessary -->

    {% endblock %}