<style>
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}


.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

</style>

<div id="voyages" class="tabcontent">
  <h1>Voyages</h1>
</div>

<div id="Activites" class="tabcontent">
  <h1>Activités</h1>
</div>

<div id="add_voyage" class="tabcontent">
  <h1>Add voyage</h1>
</div>


<div id="add-activite" class="tabcontent">
  <h1>Add Activité</h1>
</div>

<a href="{{ path('list-voyage')  }}"><button class="tablink">Voyages</button></a>
<a href="{{ path('add-voyage')  }}"><button class="tablink">Add Voyage</button></a>
<a href="{{ path('list-activite')  }}"><button class="tablink">Activités</button></a>
<a href="{{ path('add-activite')  }}"><button class="tablink">Add Activité</button></a>

